<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Quotes:</strong>
  <%= render @movie.quotes %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
